.container {
  padding: 10px;
}

.container .list {
  width: 100%;
}

.container .grid {
  width: 50%;
}

.video {
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  cursor: pointer;
  transition: transform 100ms ease-in;
  box-shadow: 10px 10px 13px -14px rgba(0, 0, 0, 0.75);
}

.video:hover {
  transform: scale(1.02);
}

.thumbnails {
  width: 40%;
  height: auto;
}

.metadata {
  margin-left: 10px;
}

.title,
.channel {
  margin: 0;
}

.channel {
  font-size: 0.9rem;
}
